html {
  box-sizing: border-box;
}

body {
  background-image: url("https://4kwallpapers.com/images/wallpapers/outrun-neon-dark-background-purple-3840x2160-4523.jpg");
  background-size: 100vw;
}
h1{
  color: rgb(255, 16, 240);
}
.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.ls-medium{letter-spacing: 4px;}
.ls-xlarge{letter-spacing: 12px;}